Build/
Library/
游戏资源/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
InputSystem.Samples.Visualizers.csproj
main.apk
Unity.InputSystem.InGameHints.csproj
Unity.InputSystem.RebindingUI.csproj
Unity.InputSystem.Recorder.csproj
UnityEngine.InputSystem.Samples.UIvsGameInput.csproj
UpgradeLog.htm
UpgradeLog2.htm
UpgradeLog3.htm
.vs/
Assets/TextMesh Pro/
UserSettings/Layouts/default-2021.dwlt
UserSettings/Search.settings
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/VFXManager.asset
ProjectSettings/XRSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/Search.index
Logs/
obj/
ProjectSettings/boot.config
ProjectSettings/BurstAotSettings_Android.json
ProjectSettings/BurstAotSettings_StandaloneWindows.json
ProjectSettings/ClusterInputManager.asset
ProjectSettings/CommonBurstAotSettings.json
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/ShaderGraphSettings.asset
ProjectSettings/TagManager.asset
ProjectSettings/TimelineSettings.asset
ProjectSettings/TimeManager.asset
ProjectSettings/URPProjectSettings.asset
ProjectSettings/AudioManager.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PresetManager.asset
Temp/
Assets/TextMesh Pro.meta
Packages/packages-lock.json
Assets - 副本/
